# Cloudflare Wrangler local state & D1 storage
.wrangler/
.dev.vars*

# Dependencies
node_modules/

# Logs & Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/

# OS specific
.DS_Store
Thumbs.db
